@model DoctorForums.Models.Room

@{
    ViewBag.Title = "Detail";
}

<h2>@Model.Title</h2>

<div>
@foreach (var topic in Model.Topics)
{
    <div>
        @Html.ActionLink(topic.Title, "Details", "Topic", new { id = topic.Id }, new { })
    </div>
}
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
