@model DoctorForums.Controllers.TopicViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Topic.Title</h2>

@foreach (var message in Model.Topic.Messages)
{
    <div>@message.Content</div>
}



@using (Html.BeginForm("CreateReply"))
{
    @Html.AntiForgeryToken()
    @Html.EditorFor(model => model.NewMessageContent)
}