body {
	overflow-y: scroll;

	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.site-container {
	padding-top: 2em;
	padding-bottom: 2em;
	flex-grow: 1;
	width: 100%;
}

.site-container > *:not(:first-child) {
	margin-left: 2em;
}

.topic {
	/*max-width: 600px;*/
}

footer {
	padding: 1em;
}


.login-dialog {
	max-width: 300px;
}
